.post-list {
    &__item {
        margin-top: 25px;

        .tag {
            color: $color-epsilon;
            &:visited,
            &:active,
            &:hover {
                color: $color-epsilon;
            }
        }
    }

    a {
        &.big {
            font-size: 1.2rem;
        }

        &.tag {
            overflow-wrap: break-word;
            word-wrap:break-word;
            margin-right: .75rem;
        }
    }
}
