include /atoms/anchor/index
include /atoms/date-and-read-time/index

mixin post-list(slice)
  .post-list
    block
    - var posts=slice ? collections.posts.slice().filter(post => post.data.published !== false).reverse().slice(0, slice) : collections.posts.slice().filter(post => post.data.published !== false).reverse()

    each post in posts
      div
        - var url=filters.url(post.url)
        .post-list__item
          +anchor(href=url class="big")()=post.data.title
          +date-and-read-time(post)

          .post-list__item-tag
            each tag in post.data.tags
              if tag != 'posts'
                +anchor(href='#' class="tag")
                  ='#' + tag
