include /atoms/anchor/index

mixin post-list(slice)
  .post-list.o-main__content.m-16.z-index-1
    block
    - var posts=slice ? collections.posts.slice().reverse().slice(0, slice) : collections.posts.slice().reverse()

    each post in posts
      div
        - var url=filters.url(post.url)
        .post-list__item
          +anchor(href=url class="big")()=post.data.title

          div
            each tag in post.data.tags
              if tag != 'posts'
                +anchor(href='#' class="tag")
                  ='#' + tag
