@import "~@styles/utilities";
@import "~@styles/universe";
@import "~@styles/variables";
@import "~@styles/libraries/syntax";
@import "~@organisms/header";
@import "~@molecules/footer";
@import "~@atoms/anchor";

.o-main {
    width: 100%;
    max-width: 800px;
    margin: 48px auto;

    article {
        h2 {
            display: flex;
            align-items: center;

            a {
                visibility: hidden;
            }

            &:hover {
                a {
                    visibility: initial;
                }
            }
        }
    }

    &__content {
        margin: 0 16px;
    }

    @media only screen and (max-width: 700px) {
        margin: 32px auto;
    }
}
