@import "~@styles/utilities";
@import "~@styles/universe";
@import "~@styles/variables";
@import "~@styles/libraries/syntax";
@import "~@organisms/header";
@import "~@molecules/footer";
@import "~@atoms/anchor";

a {
    color: $link;
}

code {
    color: #111b27;
}

.o-main {
    width: 100%;
    max-width: 800px;
    margin: 48px auto;

    p,
    a {
        font-size: 1.4rem;
    }

    article {
        h3 {
            display: flex;
        }
        h2 {
            display: flex;
            align-items: center;
            line-height: 1.2;
            margin-top: 50px;

            a {
                visibility: hidden;
            }

            &:hover {
                a {
                    visibility: initial;
                }
            }
        }
    }

    &__content {
        margin: 0 16px;
    }

    @media only screen and (max-width: 700px) {
        margin: 32px auto;
    }
}
