include /atoms/anchor/index

mixin navigation()
  nav(class=`m-navigation ${attributes.class || ''}`)&attributes(attributes)
    - homeurl=filters.url('/')
    - blogurl=filters.url('/blog')
    - abouturl=filters.url('/about')
    .nav-split
      +anchor(homeurl)(class="m-navigation__link") Jay Wolfe Codes
    .nav-split
      //- +anchor(homeurl)(class="m-navigation__link") Home
      //- +anchor(blogurl)(class="m-navigation__link") Blog
      +anchor(abouturl)(class="m-navigation__link") About Me
